
// colors
$white: #fff;
$mediumgray: #666;
$mediumblue: #3ca2cb;
$lightblue: #b0e2ff;
$salmon: #cd8162;
$yellow: #fae6b8;
$lightgray: #999;
$darkgray: #333;
$lightsalmon: #d59176;
$darksalmon: #8b5742;

// fonts
$font_default: 'Open Sans', sans-serif;
$font_heading: 'Roboto Condensed', sans-serif;
$font-size-base: 20px;
