footer {
  background: $lightblue;
  min-height: 300px;
  text-align: center;
  font-family: $font_heading;
  font-size: 14px;
  .social {
      width: 68px;
      height: 68px;
      display: inline-block;
      margin: 60px 20px;

      @media screen and (max-width: 1000px) {
        margin: 20px 20px;
      }
  }
  .bg-facebook_square {
      background: url('../img/social_sprites.png') -10px -10px;
  }
  .bg-linkedin {
      background: url('../img/social_sprites.png') -98px -10px;
  }
  .bg-twitter {
      background: url('../img/social_sprites.png') -10px -98px;
  }
  .bg-yelp {
      background: url('../img/social_sprites.png') -98px -98px;
  }
  .bg-youtube {
      background: url('../img/social_sprites.png') -186px -10px;
  }
}
