.navbar {
	height: 77px;

	@media screen and (max-width: 900px) {
		height: 75px;
	}
	.navbar-nav {
		float: right;
	}
}
.navbar-default {
	background: $white;
}
.navbar-header {
	float: none;
}

@media screen and (max-width: 1200px) {
		nav {
			li a {
				font-size: 12px;
				padding-left: 20px;
				img {
					max-width: 160px;
				}
			}
	}
}
@media screen and (max-width: 900px) {
	.logo-link img{
		width: 270px;
		float: left;
		bottom: 6px;
		position: relative;
	}
	.navbar-default .navbar-nav li a {
		padding-left: 11px !important;
	}
		nav {
			//display: none;
			text-align: center;
			padding: 10px 0 20px;
			li a {
				font-size: 12px;
				padding-left: 5px !important;
				top: 0;
				&:last-of-type {
					&::before {
						clear: both;
						content: "";
						padding-right: 0;
						color: $mediumgray;
					}
					clear: both;
					line-height: 3.5;
				}
			}
	}
	.client {
		display: none;
	}

}
.nav-bar {
	border-bottom: 1px solid #ccc;
	background: white;
}
.navbar-collapse.collapse.show {
	background: $white;
		ul.navbar-nav {
			margin: 0;
			width: 100%;
				li {
					a {
						text-align: right;
						color: $darkgray;
						border-bottom: 1px solid #efefef;
						padding: 10px 30px;
						width: 100%;
					}
				&:hover {
					background: #efefef;
				}
		}
	}
}
.navbar.navbar-default.navbar-fixed-top {
	.container-fluid {
		padding: 0;
	}
}
.navbar-default .navbar-nav  {
	text-align: right;
	position: absolute;
  top: 0px;
  right: 0;

	li {
		a {
		position: relative;
		color: $mediumgray;
		font-family: $font_default;
		font-size: 12px;
		font-weight: 400;
		padding-left: 20px;
		&:hover {
			color: $mediumblue;
		}
	}

		&:last-of-type a{
			color: $mediumblue;
			padding-left: 15px;
		}
	}
}
nav.navbar {
	.nav-item {
		a {
			color: $white;
		}
	}
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 65px;
	}
.nav-bar {
	background: white;
}
// highlight active page
body.solar .navbar-default .navbar-nav > li:nth-of-type(2) a {
			color: $salmon;
}
body.roofing .navbar-default .navbar-nav li:nth-of-type(3) a{
			color: $salmon;
}
body.local .navbar-default .navbar-nav li:nth-of-type(1) a {
			color: $salmon;
}
.navbar-toggler {
	right: 20px;
}
.nav-item {
	text-align: left;
}
