@charset "UTF-8";

html {
	height: 100%;
}
body {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	font-family: $font_default;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}
a {
	&:focus {
		outline: none;
		border: none;
	}
	&:hover {
		text-decoration: none !important;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.nopadding {
	padding: 0;
}
.noborder {
	border: 0 !important;
}
header {
	.nav-bar {
		border-bottom: 1px solid #ccc;
		background: white;
	}
	nav {
		text-align: right;
		a {
			position: relative;
			top: 30px;
			color: $mediumgray;
			font-family: $font_default;
			font-size: 12px;
			font-weight: 400;
			padding-left: 20px;
			&:hover {
				color: $mediumblue;
			}
			&:last-of-type {
				color: $mediumblue;
				padding-left: 15px;
				&::before {
					content: "|";
					padding-right: 15px;
					color: $mediumgray;
				}
			}
		}
		a.active {
			color: $salmon;
		}
	}
	nav.navbar {
		.nav-item {
			a {
				color: $white;
			}
		}
	}
}
// highlight active page
body.solar nav a:nth-of-type(2) {
			color: $salmon;
}
body.roofing nav a:nth-of-type(3) {
			color: $salmon;
}
body.local nav a:nth-of-type(1) {
			color: $salmon;
}


.topbar {
	background: $salmon;
	.client {
		text-align: right;
		padding-bottom: 3px;
		a {
			padding: 4px 20px;
			background: $lightsalmon;
			&:last-child {
				margin-right: 6px;
			}
			&:hover {
				background: $darksalmon;
			}
		}
		a.active {
			background: $darksalmon;
		}
	}
	a {
		color: $white;
		font-size: 11px;
		letter-spacing: 1px;
		margin-left: 10px;
	}
	nav.navbar {
		display: none;
	}
}
.navbar-toggler {
	float: right;
}
.nav-item {
	text-align: left;
}
div.bbb.home {
	position: absolute;
	right: 40px;
	top: 40px;
}
div.bbb.hero {
	position: absolute;
	left: 15px;
	top: 62%;
}
.rust {
	background: $darksalmon;
}
main {
	margin-top: 110px;
}
.row.equal-cols {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	&:before {
		display: block;
	}
	&:after {
		display: block;
	}
	>[class*='col-'] {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		>* {
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
		}
	}
}
.nav-bar {
	background: white;
}
.vertical-align {
	position: absolute;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: auto;
	text-align: center;
}
.horizontal-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.overlay {
	background: rgba(19, 144, 137, 0.6);
	padding: 30px 50px;
	height: auto;
	z-index: 999;
}
.tagline {
	display: block;
	color: $white;
	text-align: center;
	h1 {
		font-family: $font_heading;
		font-weight: 300;
		text-align: center;
		color: $white;
		font-size: 45px;
		letter-spacing: -2px;
	}
	h2 {
		font-weight: 300;
		font-style: normal;
		font-family: $font_heading;
		color: $yellow;
		font-size: 30px;
		max-width: 500px;
		margin: 0 auto;
		line-height: auto;
		text-align: center;
		letter-spacing: 0;
	}
}
.badge {
	position: absolute;
	width: 15%;
	height: 15%;
	right: 7%;
	top: 5%;
	z-index: 100;
	background: transparent;
}
.slick-slide {
	article {
		h4 {
			text-align: center;
			font-weight: 400;
			font-style: normal;
			font-family: $font_heading;
			text-transform: uppercase;
			color: $mediumgray;
			font-size: 18px;
			line-height: 1.5;
			margin-top: 10px;
		}
	}
	margin: 0px 20px;
	position: relative;
	transition: all ease-in-out .3s;
	opacity: .2;
	outline: none;
	img {
		width: 100%;
	}
}
.contact-bar {
	background: #3ca2cb;
	display: block;
	text-align: center;
	padding: 30px;
}
form.contact {
	width: 310px;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	input[type=text] {
		font-family: $font_default;
		padding: 12px;
		text-transform: uppercase;
		background: white;
		font-size: 12px;
		width: 150px;
		margin-right: 10px;
		float: left;
		color: $lightgray;
		letter-spacing: 1px;
		text-align: center;
		border: none;
	}
}
input[type=button] {
	font-family: $font_default;
	padding: 12px;
	display: inline;
	text-transform: uppercase;
	font-size: 12px;
	width: auto;
	color: $white;
	float: left;
	background: $salmon;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	cursor: pointer;
	&:hover {
		background: #b0e2ff;
		color: $darkgray;
	}
}
a.button {

	padding: 12px 20px;
	text-transform: uppercase;
	font-size: 12px;
	width: auto;
	color: $white;
	background: $salmon;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	cursor: pointer;
	&:hover {
		background: $darksalmon;
		text-decoration: none;
	}
}
a.button-alt {

	padding: 12px 20px;
	text-transform: uppercase;
	display: block;
	font-size: 11px;
	width: 120px;
	margin: 0 auto;
	color: $white;
	background: #3ca2cb;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	cursor: pointer;
	&:hover {
		background: #b0e2ff;
		color: $darkgray;
		text-decoration: none;
	}
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	margin: 0 auto;
}

.triangle-down.news {
	border-top: 35px solid #e9ac2f;
	background: transparent;
}

.triangle-down.darkblue {
	border-top: 35px solid #3ca2cb;
	background: transparent;
}
.triangle-down.teal {
	border-top: 35px solid #20b2aa;
	margin: 0 0px 0 10%;
}
.triangle-down.rust {
	border-top: 35px solid $darksalmon;
	margin: 0 auto;
	background: white;
}
.triangle-down.green {
	border-top: 35px solid #055613;
	position: relative;
	margin: 0 0px 0 70%;
}
.subheading {
	font-weight: 300;
	font-style: normal;
	font-family: $font_heading;
	color: $mediumgray;
	font-size: 32px;
	line-height: 1.5;
	text-align: center;
	margin-top: 30px;
}
.subheading.white {
	color: $white;
	padding-top: 10px;
}
.subheading.smaller {
	font-size: 22px;
	line-height: 1.25;
	margin: 10px 0 0px;
	padding-bottom: 30px;
	color: $lightblue;
}
.subheading.smaller.salmon {
	color: $lightsalmon;
}
.types {
	article {
		text-align: center;
		color: $white;
		h4 {
			margin: 20px 0;
			font-weight: normal;
			font-size: 12px;
			font-weight: 300;
			color: $white;
		}
	}
}
.boxes {
	padding: 0 0 60px;
	margin: 30px 0;
	border: 1px solid #ccc;
	position: relative;
	.button-alt {
		position: absolute;
		bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
	img {
		width: 130px;
		display: block;
		margin: 30px auto 20px;
	}
	h4 {
		text-align: center;
		padding: 14px;
		display: block;
		text-transform: uppercase;
		font-family: $font_heading;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
	}
	p {
		text-align: left;

		padding: 0 35px 10px;
		display: block;
		font-size: 12px;
		color: $darkgray;
		font-weight: 400;
		letter-spacing: 0;
	}
	ul {
		padding: 0 15px 30px 45px;
		li {
			font-size: 12px;
			color: $darkgray;
		}
	}
}
.container-fluid.split {
	padding-left: 0;
	padding-right: 0;
}
.container-fluid.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.bar {
	background: #b0e2ff;
	padding: 30px 20px 20px 0px;
	color: $mediumgray;
	text-align: center;
	h3 {
		font-family: $font_heading;
		font-size: 36px;
		font-weight: 300;
		line-height: 1.55;
		margin: 0 0 5px;
	}
}
.bar.alt {
	background: $darksalmon;
	color: $white;
}
.two-panel.arrow-down {
	background: #b0e2ff;
}
.two-panel.arrow-down.alt {
	background: $darksalmon;
}

.two-panel {
	margin: 0;
	background: $teal;

	&.local {
		background: $darksalmon;
	}

	&.solar {
		background: $darkyellow;
		.content {
			padding: 30px 50px;
			color: $mediumgray;
		}
	}
	.content {
		padding: 30px 50px;
		color: $white;
	}
	.content.video {
		padding: 0px 20px;
		float: right;
		color: $white;
	}
	.video {
		position: relative;
		top: 30px;
	}
}
.split {
	.two-panel {
		.content {
			padding: 60px;
			float: right;
			color: $white;
			ul {
				padding: 0 15px 30px 15px;
				li {
					color: $white;
				}
			}
		}
	}
}
.content {
	h3 {
		font-family: $font_heading;
		font-size: 30px;
		font-weight: 300;
		line-height: auto;
		margin: 20px 0 20px;
	}
	h4 {
		font-family: $font_heading;
		font-size: 26px;
		font-weight: 300;
	}
	p {
		margin-bottom: 30px;
	}
}
.container.quote {
	margin: 50px auto;
	position: relative;
	font-family: $font_heading;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;
}
.author {
	font-size: 12px;
	color: $lightgray;
	text-align: right;
	display: block;
	margin-bottom: 60px;
}
.contact {
	background: #b0e2ff;
	margin: 60px 0;
	padding-bottom: 60px;
}
.align-right {
	text-align: right;
}
.row.chart {
	background: #b0e2ff;
	padding: 50px 50px 20px;
	.content {
		background: #b0e2ff;
		padding: 50px;
	}
}

.checkout {
	border-top: 10px solid $lightblue;
}

.right-quote {
	width: 38px;
	height: 22px;
	max-height: 22px;
	padding-left: 10px;
}

.left-quote {
	width: 38px;
	height: 22px;
	max-height: 22px;
	position: relative;
	bottom: 10px;
	right: 10px;
}
.surfing {
	background: url(../img/san-diego-solar-surfing-for-solar.jpg) no-repeat;
	height: 600px;
	background-size: cover;
	display: block;
	.content {
		padding: 60px 80px;
		float: right;
		color: $white;
		h3 {
			font-family: $font_heading;
			font-size: 36px;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		p {
			font-family: $font_heading;
			font-size: 18px;
			margin-bottom: 30px;
			font-weight: 300;
		}
	}
}
.client-upload {
	background: url(../img/sandiegosolar-building-plans.jpg) no-repeat;
	height: 630px;
	background-size: cover;
	display: block;
	iframe {
		margin-top: 20px;
	}
}
.community {
	background: url(../img/san-diego-solar-community.jpg) no-repeat;
	height: 611px;
	background-size: cover;
	display: block;
	.content {
		padding: 60px 100px;
		color: $darkgray;
		text-align: center;
		h3 {
			font-family: $font_heading;
			font-size: 36px;
			color: $darkgray;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		p {
			font-family: $font_heading;
			font-size: 18px;
			font-weight: 400;
			line-height: 1.25;
			padding: 0px 10%;
		}
		.button {
			margin: 20px auto;
			width: 190px;
		}
	}
	.licensed {
		padding: 40px 100px;
		color: $mediumgray;
		text-align: center;
		h3 {
			font-family: $font_heading;
			font-size: 36px;
			color: $darkgray;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		p {
			font-family: $font_heading;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.25;
			padding: 0px 10%;
		}
		.button {
			margin: 20px auto;
			width: 190px;
		}
	}
}

.darkblue {
	background: $mediumblue;
}
.triangle-down.solar-explain {
	border-top: 35px solid $darkyellow;
	position: relative;
	margin: 0 0px 0 15%;
}

.triangle-down.community {
	border-top: 35px solid #43758d;
	position: relative;
	margin: 0 0px 0 15%;
}
.triangle-down.chart {
	border-top: 35px solid #b0e2ff;
	position: relative;
	margin: 0 auto;
}
.triangle-down.local {
	border-top: 35px solid $teal;
	position: relative;
	margin: 0 auto;
}
.triangle-down.car {
	border-top: 35px solid #dbf1fb;
	position: relative;
	margin: 0 0px 0 15%;
}
.licensed {
	background: url(../img/san-diego-solar-licensed-contractors.png) no-repeat;
	height: 858px;
	background-size: cover;
	display: block;
}
.triangle-down.checkout-work {
	border-top: 35px solid #b0e2ff;
	position: relative;
	margin: 0 0px 0 75%;
}
.container.yelp {
	margin-top: 50px;
	position: relative;
	.content {
		padding: 40px 100px;
		color: $mediumgray;
		text-align: center;
	}
	.yelp-logo {
		width: auto;
		float: right;
	}
	.subheading {
		font-family: $font_heading;
		font-size: 36px;
		color: $darkgray;
		font-weight: 300;
		line-height: 1.5;
		text-align: center;
		margin: 30px;
	}
	.box {
		padding: 30px;
		margin-bottom: 30px;
		border: 1px solid #ccc;
		header {
			border: none;
			article {
				position: relative;
			}
		}
		article {
			header {
				img {
					float: left;
					width: 60px;
					margin: 0 10px 20px 0;
				}
			}
			img.rating {
				width: 80px;
				margin-bottom: 20px;
			}
			span.date {
				position: absolute;
				top: 10px;
				right: 30px;
				font-size: 11px;
			}
			p {

				font-size: 12px;
				color: $darkgray;
			}
		}
	}
	.slick-next {
		right: 55px;
	}
	.slick-prev {
		left: 55px;
	}
	img.yelp {
		float: right;
		margin-top: 10px;
	}
}

.container.contact {
	background: #b0e2ff;
	height: 300px;
	.subheading {
		font-family: $font_heading;
		font-size: 36px;
		color: $darkgray;
		font-weight: 300;
		line-height: 1.5;
		text-align: center;
		margin: 30px;
	}
}
.triangle-down.contact {
	border-top: 35px solid #b0e2ff;
	position: relative;
	margin: 0 0px 0 15%;
}
.container.roofing {
	.subheading {
		margin: 40px 0;
		text-align: center;
	}
	p {
		font-family: $font_heading;
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 40px;
		line-height: 1.5;
	}
}
.button.centered {
	margin-bottom: 50px;
	float: none;
	input[type=button] {
		margin: 0 auto;
		float: none;
	}
}
body.roofing {
	.contact-bar {
		background: $darksalmon;
	}

	.checkout {
		border-top: 10px solid $lightsalmon;
	}
	.slider {
		.bx-caption {
			top: 30%;
		}
	}
	.carousel-caption {
		h4 {
			font-family: $font_heading;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			color: $white;
			font-size: 45px;
			margin: 0% 0 4%;
			letter-spacing: -2px;
		}
	}
	.two-panel {
		background: #3479a1;
	}
}
.triangle-down.home {
	border-top: 35px solid #7b9166;
}
.triangle-down.roofing {
	border-top: 35px solid $darksalmon;
	margin: 0 auto;
}
.triangle-down.bundle {
	border-top: 35px solid #3479a1;
	margin: 0 10%;
}
body.solar {
	.contact-bar {
		background: $yellow;
	}
}
body.local {
	.contact-bar {
		background: $teal;
	}
}
.triangle-down.darksalmon {
	border-top: 35px solid $darksalmon;
	position: relative;
	margin: 0 0px 0 15%;
}

.triangle-down.solar {
	border-top: 35px solid #f5d690;
}
.slider {
	width: 100%;
}
.slick-active {
	opacity: 1;
}
.slick-current {
	opacity: 1;
}
.modal-content.case-studies {
	background: #fff;
	padding: 30px;
	img {
		width: 100%;
	}
	.description {
		font-family: $font_heading;
		color: $mediumgray;
		font-size: 16px;
		h1 {
			font-size: 25px;
			color: $darkgray;
			margin-bottom: 5px;
		}
	}
}


section.news {
	background: url('../img/san-diego-solar-how-does-solar-work.png') no-repeat;
	background-size: cover;
	padding-bottom: 20px;
	border-top: 10px solid #facc71;
	.subheading {
		padding: 50px 0 0;
		color: $white;
	}
	.boxes {
		background: white;
		h4 {
			text-align: center;
			padding: 40px 25px;
			display: block;
			text-transform: uppercase;
			font-size: 18px;
			font-family: $font_heading;
			color: $darkgray;
			letter-spacing: 0;
		}
	}
}
@media screen and (max-width: 900px) {
	header {
		nav {
			display: none;
			text-align: center;
			padding: 10px 0 20px;
			a {
				font-size: 12px;
				padding-left: 15px;
				top: 0;
				&:last-of-type {
					&::before {
						clear: both;
						content: "";
						padding-right: 0;
						color: $mediumgray;
					}
					clear: both;
					line-height: 3.5;
				}
			}
		}
	}
	.client {
		display: none;
	}
	.topbar {
		.social-links {
			display: none;
		}
		nav.navbar {
			display: block;
		}
	}
}
@media screen and (max-width: 1000px) {
	header {
		nav {
			a {
				font-size: 12px;
				padding-left: 20px;
			}
		}
	}
}
@media screen and (max-width: 470px) {
	header {
		nav {
			display: none;
		}
	}
}
@media screen and (max-width: 767px) {
	.tagline {
		h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 22px;
			max-width: 400px;
			line-height: 30px;
			text-align: center;
			letter-spacing: 0;
		}
	}
	.surfing {
		height: 1000px;
		.content {
			padding: 20px;
			float: none;
		}
	}
	.community {
		height: 1000px;
		.content {
			padding: 20px;
			float: none;
		}
	}
}
@media screen and (max-width: 500px) {
	.tagline {
		h1 {
			font-size: 24px;
			margin: 15% 0 4%;
		}
		h2 {
			font-size: 18px;
			max-width: 400px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0;
		}
	}
}
@media screen and (min-width: 769px) and (max-width: 900px) {
	.boxes {
		img {
			width: 100px;
			margin: 20px auto 10px;
		}
		p {
			padding: 0 15px 10px;
		}
	}
}
@media screen and (max-width: 600px) {
	.two-panel {
		height: auto;
		margin: 0;
		background: $lightsalmon;
		overflow: hidden;
		.content {
			padding: 30px;
		}
	}
	.triangle-down {
		display: none;
	}
	.hidden-xs {
		display: none;
	}
}
@media screen and (max-width: 990px) {
	.hidden-sm {
		display: none !important;
	}
}
@media screen and (min-width: 991px) {
	.hidden-md {
		display: none !important;
	}
}
