<footer>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12">
      <a href="https://www.facebook.com/sandiegosolarinc/" target="_blank" class="social bg-facebook_square" name="San Diego Solar Facebook" label="San Diego Solar Facebook" aria-labelledby="San Diego Solar Facebook"></a>
      <a href="https://www.instagram.com/sandiegosolarinc/" target="_blank"  class="social bg-instagram" name="San Diego Solar Instagram" label="San Diego Solar Instagram" aria-labelledby="San Diego Solar Instagram"></a>
      <a href="https://www.youtube.com/channel/UCQT-yexHRzhpcsdGQBO31Gw" target="_blank"  class="social bg-youtube" name="San Diego Solar YouTube" label="San Diego Solar YouTube" aria-labelledby="San Diego Solar YouTube"></a>
      <a href="https://twitter.com/sandiegosolarinc" target="_blank"  class="social bg-twitter" name="San Diego Solar Twitter" label="San Diego Solar Twitter" aria-labelledby="San Diego Solar Twitter"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">CA Licence # 970079 |  C-10 Electrical  |  C-39 Roofing  |   C-46 Solar <br>
      Copyright &copy; 2018.  San Diego Solar Incorporated.
      <br><br>
      <a href="tel:+1-619-276-1149">CALL today 619-276-1149</a><br>
    </div>
  </div>
</div>
</footer>
