<footer>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12">
      <a href="" target="_blank" class="social bg-facebook_square"></a>
      <a href="index.html" target="_blank"  class="social bg-twitter"></a>
      <a href="index.html" target="_blank"  class="social bg-yelp"></a>
      <a href="https://www.youtube.com/channel/UC8jjLuv_ss5pSTQTMgAD-dA" target="_blank"  class="social bg-youtube"></a>
      <a href="index.html" target="_blank"  class="social bg-instagram"></a>
      <a href="https://plus.google.com/u/0/b/110804473769677771268/110804473769677771268/posts" target="_blank"  class="social bg-googleplus_square"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 small">CA Licence # 970079 |  C-10 Electrical  |  C-39 Roofing  |   C-46 Solar <br>
      Copyright &copy; 2018.  San Diego Solar Incorporated.

    </div>
  </div>
</div>
</footer>
