<div id="preload_area"></div>
<header class="fixed-top">
  <div class="container-fluid topbar">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="tel:+1-619-276-1149">Call today 619-276-1149</a>
      </div>

      <!-- mobile only nav -->
      <div class="col-xs-12 col-sm-6">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a href="local.html">WHY BUY LOCAL</a>
                </li>
                <li class="nav-item">
                  <a href="solar.html">SOLAR</a>
                </li>
                <li class="nav-item">
                  <a href="roofing.html">ROOFING</a>
                </li>
                <li class="nav-item">
                  <a href="storage.html">STORAGE & CHARGING</a>
                </li>
                <li class="nav-item">
                  <a href="clients.html">CLIENTS</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!--/ topbar -->

  <!-- fixed logo and nav bar -->
  <div class="container-fluid">
    <div class="row nav-bar">
      <div class="col-sm-4">
        <a href="index.html">
          <img src="img/san-diego-solar-logo.png" alt="San Diego Solar and Roofing Logo" title="San Diego Solar and Roofing" aria-labelledby="San Diego Solar and Roofing Logo" />
        </a>
      </div>
      <div class="col-sm-8">
        <nav>
          <a href="local.html">WHY BUY LOCAL</a>
          <a href="solar.html">SOLAR</a>
          <a href="roofing.html">ROOFING</a>
          <a href="storage.html">STORAGE & CHARGING</a>
          <a href="clients.html">CLIENTS</a>
        </nav>
      </div>
    </div>
  </div>
  <!--/ fixed logo and nav bar-->
</header>
