<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGNVJZ5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="preload_area"></div>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="logo-link">
            <img src="img/san-diego-solar-logo.png" alt="San Diego Solar and Roofing Logo" title="San Diego Solar and Roofing" aria-labelledby="San Diego Solar and Roofing Logo" />
          </a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="local.html">WHY BUY LOCAL</a></li>
              <li><a href="solar.html">SOLAR</a></li>
              <li><a href="roofing.html">ROOFING</a></li>
              <li><a href="storage.html">STORAGE & CHARGING</a></li>
              <li><a href="client.html">CLIENT PORTAL</a></li>
              <li><a href="" title="Contact San Diego Solar" aria-labelledby="Contact San Diego Solar" data-toggle="modal" data-target="#contact-form">CONTACT</a></li>
            </ul>
          </div><!--/.nav-collapse -->

  </div>
  </nav>


  <!--/ topbar -->
