<section class="top-squares news">
    <div class="subheading">In Solar News...</div>

      <div class="container-fluid">
        <div class="row equal-cols row-fixed">


          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-3 col-md-offset-0">
            <div class="boxes">
              <h4>After Back-to-Back Years of Double-Digit Growth, U.S. Solar Passes 50 GW Milestone</h4>
              <p>
                At the end of 2015, there was just north of 25 gigawatts (GW) of solar PV installed in the United States. Now, after back-to-back years of double-digit gigawatt growth (15 GW in 2016 and 10.6 GW in 2017), the solar industry has more than doubled its total installed capacity to 53.3 GW through the end of 2017.
              </p>
              <a href="" class="button-alt" data-toggle="modal" data-target=".solar-news-1">read more</a>
            </div>
          </div>

          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-3 col-md-offset-0">
            <div class="boxes">
              <h4>U.S. Solar Market Adds 10.6 GW of PV in 2017, Community Solar Soars</h4>
              <p>
                BOSTON, Mass. and WASHINGTON D.C. – In 2017, the U.S. solar market expanded, adding double-digit gigawatt solar photovoltaic (PV) additions for the second year in a row. According to the newly released U.S. Solar Market Insight Report 2017 Year-in-Review from GTM Research and the Solar Energy Industries Association (SEIA), the solar industry installed 10.6 gigawatts (GW) of new PV capacity in 2017, led by strong growth in the corporate and community solar segments.
              </p>
              <a href="" class="button-alt" data-toggle="modal" data-target=".solar-news-2">read more</a>
            </div>
          </div>

          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-3 col-md-offset-0">

            <div class="boxes">
              <h4>President’s Decision on Solar Tariffs is a Loss for America</h4>
              <p>
                WASHINGTON, D.C. - The Solar Energy Industries Association (SEIA) – the national trade association for the U.S. industry - and its members expressed disappointment in the decision by President Trump to impose 30 percent tariffs on imported solar cells and panels.<br><br>The decision effectively will cause the loss of roughly 23,000 American jobs this year, including many in manufacturing, and it will result in the delay or cancellation of billions of dollars in solar investments.
              </p>
              <a href="" class="button-alt" data-toggle="modal" data-target=".solar-news-3">read more</a>
            </div>
          </div>


          <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-3 col-md-offset-0">
            <div class="boxes">
              <h4>New Bill Aims to Give Calif. Businesses, Schools and Nonprofits More Access to Solar Energy</h4>
              <p>
                SACRAMENTO, Calif. and WASHINGTON, D.C. (February 20, 2018) – The Solar Energy Industries Association (SEIA) commended legislation filed in the California Legislature on Friday that would make it easier for businesses, schools, nonprofits and municipalities to access solar energy. In turn, this will help generate thousands of new jobs and millions of dollars of investment in the state.

              </p>

              <a href="" class="button-alt" data-toggle="modal" data-target=".solar-news-4">read more</a>
            </div>
          </div>

        </div>


      </div>
  </section>
